@page
@model Azure_app_rk_vs.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "Deployment slots page";
}

<div class="text-center">
    <h1 class="display-4">Testing deployment slots</h1>
    <h3>Validating deployment slot features</h3>
</div>
