@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azutre App Services - Git hub actions in effect</h1>
    <h3>We are here to know about Azure and the .NET core development</h3>
</div>
